<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include("./partials/head") %>
</head>

<body>
	<%- include("./partials/header") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			
			<form method="POST" class="formulario" action="/profile/newuser">
				<div class="contenedorR">
					<div class="col-12">
						<h2 class="products-title">Registrate</h2>
					</div>
					<div class="cajaR">
						<label class="labelR">Email:</label>
						<input type="email" name="email" class="inputR" required>
					</div>
					<div class="cajaR">
						<label class="labelR">Usuario:</label>
						<input type="text" name="nombre" class="inputR" required>
					</div>
					<div class="cajaR">
						<label class="labelR">Contraseña:</label>
						<input type="password" name="password" class="inputR">
					</div>
					<div class="cajaR">
						<label class="labelR">Fecha de nacimiento:</label>
						<input type="date" id="fecha-nacimiento" name="fecha" class="inputR" required>
					</div>
					<div class="cajaR">
						<label class="labelR">DNI:</label>
						<input type="number" id="nro-documento" name="Dni" class="inputR" required>
					</div>
					<div class="cajaR">
						<label class="labelR">Foto de perfil:</label>
						<input type="text" name="FotoPerfil" class="inputR" required>
					</div>	
					<button type="submit" class="botonR">Enviar</button>
				</div>
			</form>
<%- include("./partials/footer") %>
</body>

</html>